<h1>Welcome to Restaurant finder</h1>

<ul class="list-unstyled">
    <div class="d-flex flex-wrap">
        <% @restaurants.each do |restaurant| %>
        <div class="card mb-3 ms-3" style="width: 18rem; height: 14rem;">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <li  class="card-title text-center fw-bold">
              <%= restaurant.name %>
            </li>
             <%= link_to "Modify restaurant", edit_restaurant_path(restaurant), class:"btn btn-light mb-2" %>
             <%= link_to "Delete restaurant", restaurant_path(restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
          </div>
      </div>
        <% end %>

      </div>
    </div>
  </ul>
